<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>QC Inspector</title>
    <link rel="stylesheet" href="css/jquery.mobile-1.4.2.min.css">
    <link rel="stylesheet" href="css/qcapptheme.min.css" />
    <link rel="stylesheet" href="css/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" href="css/qcapp.css" />
    <link rel="stylesheet" href="css/jquery-ui-1.10.4.custom.min.css">
    <link rel="stylesheet" type="text/css" href="css/custom_gerald.css">
    <script src="js/lib/jquery/jquery-1.11.0.min.js"></script>
    <script src="js/lib/jquery/jquery-ui-1.10.4.custom.js"></script>
    <script src="js/lib/jquery/jquery.mobile-1.4.2.min.js"></script>
    <script src="js/lib/jquery/jquery.blockUI.js"></script>

    <!--CORDOVA LIB-->
    <script type="text/javascript" src="cordova.js"></script>
    <!--localization-->
    <script type="text/javascript" src="lang/data.js"></script>
    <script type="text/javascript" src="js/base/localization.js"></script>    
    <!--Core-->
    <script type="text/javascript" src="js/base/device.js"></script>
    <script type="text/javascript" src="js/base/db.js"></script>
    <script type="text/javascript" src="js/base/common.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

    <script type="text/javascript" src="js/module/login.js"></script>
    <script type="text/javascript" src="js/sync.js"></script>


    <script type="text/javascript">
        App.current = 'login';
        document.addEventListener("deviceready",function(){onDeviceReady(eval('App.page.'+App.current+'.init'));},false);

        function setPROD() {
            $('#server-name').val("PROD");
            $('#server-url').val('http://203.198.58.104/ws/request');
            //$('#server-url').val('LOCKED');
        }
        function setUAT() {
            $('#server-name').val("UAT");
            $('#server-url').val('http://203.198.58.104/wsuat/request')
            //$('#server-url').val('LOCKED');
        }
        function setTEST() {
            $('#server-name').val("TEST");
            //$('#server-url').val('http://128.199.245.215/ws/request')
            $('#server-url').val('http://203.198.58.104/wstest/request')
        }
    </script>
    <style>
    .ui-btn-left {
        width:80px;
    }
    .ui-btn-right {
        width:80px;
    }
    .ui-listview>.ui-li-static, .ui-listview>.ui-li-divider, .ui-listview>li>a.ui-btn {
        white-space:normal;
    }
    </style>
</head>
<body>
    <div data-role="page" data-position="fixed" data-tap-toggle="false" id="login">
        <div data-role="header" data-position="fixed">
            <h1><span class="str_page_login"></span></h1>
            <a class="connectivity" class="ui-btn-left" href="#" data-role="button" data-icon="alert"><span class="str_nav_offline"></span></a>
            <a href="#menu" class="ui-btn-right qcmenubtn" data-direction="reverse" data-transition="slide"><span class="str_menu_menu"></span></a>
        </div>
        <div data-role="main" class="ui-content">
            <div class="qcloginform">
                <img src="images/qclogo.png">
                <span class="qclbl str_lbl_username"></span>
                <input type="text" name="txt-username" id="txt-username" value="bernard.lee@smartac.co" disabled>

                <div class="margin_top15"></div>

                <span class="qclbl str_lbl_password"></span>
                <input type="password" name="txt-password" id="txt-password" value="">
                <div class="ui-grid-a">
                    <div class="ui-block-a"><a id="btn-cancel" class="ui-shadow ui-btn qcbtn ui-corner-all"><span class="str_btn_cancel"></span></a></div>
                    <div class="ui-block-b"><a id="btn-login"  data-transition="slide" class="ui-shadow ui-btn qcbtn ui-corner-all ui-btn-active" ><span class="str_btn_login"></span></a></div>
                </div><!-- /grid-a -->

                 <div class="logininfopane">
                    <span class="str_dlg_appversion"></span>&nbsp;<span class="appversion"></span>
                    <!--font color="#d00">Update Available.  Click <a href ng-click="doSync()">Here</a> to download</font-->
                </div>

            </div><!-- /page -->
        </div>
        <div data-role="popup" id="pop-message">
            <p></p>
        </div>

    </div>


<!--

Menu Page

All menu items are implemented here to avoid code cluttering, because JQM separates all headers and footers into pages

By moving functions into this page and ng-showing only the relevant items, we have all navigation in one place

This will make the code infinitely more maintainable

-->
<div data-role="page" data-position="fixed" data-tap-toggle="false" id="menu">

    <div data-role="header">
        <h1><span class="str_page_changeuser"></span></h1>
        <a href="#login" data-transition="slide" class="ui-btn-left"><span class="str_btn_cancel"></span></a>
    </div>

    <div class="qcloginform">
        <a href="#updatedb" id="link-updatedb1" data-transition="slide"  data-direction="reverse" class="ui-shadow ui-btn qcbtn ui-corner-all"><span class="str_btn_updatedb"></span></a>
		<!-- Tony Add Server URL -->
		<a href="#" id="link-update-server-url" data-transition="slide" class="ui-shadow ui-btn qcbtn ui-corner-all"><span class="str_header_serverurl"></span></a>
		<!-- END Add Server URL -->
        <a href="#" id="link-changeuser" data-transition="slide" class="ui-shadow ui-btn qcbtn ui-corner-all"><span class="str_btn_changeuser"></span></a>
        <ul data-role="listview" data-inset="true">
            <li data-role="list-divider"><span class="str_menu_language"></span></li>
            <li><a class="language" data-lang="en_US">English</a></li>
            <li><a class="language" data-lang="zh_CN">中文</a></li>
        </ul>
    </div>

    <div data-role="popup" id="popupDialog" data-overlay-theme="b" data-theme="b" data-dismissible="false" style="min-width:400px;max-width:400px;">
        <div data-role="header" data-theme="a">
            <h1><span class="str_dlg_adminrights"></span></h1>
        </div>
        <div role="main" class="ui-content">
            <h3 class="ui-title"><span class="str_dlg_enteradminpwd"></span></h3>
            <p><input type="password" place-holder="enter password" id="admin-password" /></p>
            <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b" data-rel="back"><span class="str_btn_cancel"></span></a>
            <a id="link-login-admin" href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b" data-rel="back" data-transition="flow"><span class="str_btn_login"></span></a>
        </div>
    </div>
	<!-- Tony Add Server URL -->
    <div data-role="popup" id="popupServerURL" data-overlay-theme="b" data-theme="b" data-dismissible="false" style="min-width:420px;max-width:420px;">
        <div data-role="header" data-theme="a">
            <h1><span class="str_header_serverurl"></span></h1>
        </div>
        <div role="main" class="ui-content">
            <p><input disabled="disabled" type="text" place-holder="enter server name" id="server-name" /></p>
            <p><input type="text" place-holder="enter server url" id="server-url" /></p>
            <a href class="ui-btn ui-btn-inline" data-mini="true" onclick="setPROD()">PROD</a>
            <a href class="ui-btn ui-btn-inline" data-mini="true" onclick="setUAT()">UAT</a>
            <a href class="ui-btn ui-btn-inline" data-mini="true" onclick="setTEST()">TEST</a>
            <br>
            <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b" data-rel="back"><span class="str_btn_cancel"></span></a>
            <a id="btn-save-server-url" href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b" data-rel="back" data-transition="flow"><span class="str_btn_accept"></span></a>
        </div>
    </div>
	<!-- END Add Server URL -->
</div>


<!--

Switch User Page

-->
<div data-role="page" data-position="fixed" data-tap-toggle="false" id="changeuser">

    <div data-role="header">
        <h1><span class="str_page_changeuser"></span></h1>
        <a href="#menu" data-transition="slide" class="ui-btn-left"><span class="str_menu_menu"></span></a>
    </div>

    <div role="main" class="ui-content">
        <ul data-role="listview" data-filter="true">
            <li class="select-user">
                <table width="100%">
                    <tr>
                        <th width=15%><span class="str_lbl_username"></th>
                        <td width=35%><span class="name"></span> <span class="cname"></span></td>
                        <th width=15%><span class="str_menu_language"></th>
                        <td width=35%><span class="lang"></span></td>
                    </tr>
                    <tr>
                        <th><soan class="str_lbl_email"></span></th>
                        <td colspan=3><span class="username"></span><<span class="email"></span>></td>
                    </tr>
                </table>
            </li>
        </ul>
    </div>
</div>

<!--

Update Page

-->
<div data-role="page" data-position="fixed" data-tap-toggle="false" id="updatedb">

    <div data-role="header">
        <h1><span class="str_btn_updatedb"></span></h1>
        <a href="#login" data-transition="slide" class="ui-btn-left"><span class="str_btn_cancel"></span></a>
        <a href="#" id="link-updatedb" class="ui-btn-right"><span class="str_btn_updatedb"></span></a>
    </div>
    <div role="main" class="ui-content">
        <span id="synclog" style="font-family:courier;font-size:10px;color:#222;opacity:0.9"></span>
    </div>
</div>

</body>
</html>