.remarks {
	display: none;
}

.prog_bar{
	width: 100%;
	height: 6px;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.8);
	display:none;
}

.prog_bar .value{
	width:0px;
	height:100%;
	background: #0073BC;
	border-radius: 10px;
}

.prog_status{
	font-size: 13px;
	/* font-weight: bold; */
	margin-bottom: 7px;
	margin-top: 30px;
	display: block;
	min-height: 20px;
}
.prog_status .inner{
	float:left;
}

.prog_status .percent{
	float:right;
}

.logininfopane{
	display: block;
	margin-top: 30px;
	margin-left: 0px;
	font-size: 12px;
	text-shadow:none !important;
	margin-bottom: 30px;
}


.qcloginform img{
	margin-bottom: 30px;
	clear: both;
}


.margin_top15{
	width:100%;
	clear:both;
	height:15px;
}

.ui-title .appversion{
	color: #E4E4E4;
	font-size: 10px;
}

.ui-title .connectivity{
	color: #E4E4E4;
	font-size: 10px;
}

#login .ui-header{
	height:45px;
}

#login .ui-header .ui-btn-left{
	margin-top: 2px;
}

#login .ui-header .ui-btn-right{
	margin-top: 2px;
}

#home .ui-header{
	height:54px;
}

#home #link-logout{
	margin-top: 6px;
}


#main .ui-btn-right{
	margin-top: 6px;
}

#main .ui-btn-left{
	margin-top: 6px;
}


.required_f{
	border:1px solid #a00000 !important;
}

#selectpo .ui-btn-right{
	margin-top: 6px;
}

#selectpo .ui-btn-left{
	margin-top: 6px;
}


#main h3 span{
	color: #003e66;
}


#colorsize .ui-btn-right{
	margin-top: 6px;
}

#colorsize .ui-btn-left{
	margin-top: 6px;
}

#colorsize .ui-controlgroup-label{
	margin-bottom: 20px !important; 
}

#colorsize .ui-radio{
	margin: 0px !important;

}

#colorsize #div-colors-container{
	margin-top: -8px;
}

#colorsize .ui-radio label{
	border-radius: 0px;
}

#defectpoints .ui-btn-right{
	margin-top: 6px;
}

#defectpoints .ui-btn-left{
	margin-top: 6px;
}


#factorycondition .ui-btn-right{
	margin-top: 6px;
}

#factorycondition .ui-btn-left{
	margin-top: 6px;
}


#measurement .ui-btn-right{
	margin-top: 6px;
}

#measurement .ui-btn-left{
	margin-top: 6px;
}

#result h4 span{
	color: #003e66;
}

#result .ui-btn-right{
	margin-top: 6px;
}

#result .ui-btn-left{
	margin-top: 6px;
}




#view .ui-btn-right{
	margin-top: 6px;
}

#view .ui-btn-left{
	margin-top: 6px;
}


#signpage .ui-btn-right{
	margin-top: 6px;
}

#signpage .ui-btn-left{
	margin-top: 6px;
}



/*.qcboxes h3{
	display:none;
}

.qcboxes h4{
	height:45px;
}*/

.qcsubmitted h4, .qcsubmitted h3 {
	background:#048914;
}

.qcinprogress h4, .qcinprogress h3 {
	background:#C23917;
}

.qcsigned h4, .qcsigned h3 {
	background:#f7941d;
}

.qcboxes p{
	font-size: 12px !important;
	width: 90%;
	margin:0 auto;
}

.qcboxes.qcinprogress .gray{
	margin-top: 25px !important;
}

.qcboxes.qcsubmitted .gray{
	margin-top: 25px !important;
}

.qcboxes.qcsigned .gray{
	margin-top: 25px !important;
}

.ui-popup .ui-btn{
	min-width: 80px !important;
}


.ui-widget-header{
	background: #0071BC !important;
	border: 1px solid #0071BC !important;
}


.ui-timepicker-table .ui-state-active{
	color: #00436d !important;
	border: 1px solid #00436d !important;
}

.ui-timepicker-table .ui-state-hover{
	color: #00436d !important;
	border: 1px solid #00436d !important;
	background:#e2f4ff !important;
}

/* Tony Customise */
.checkbox-group{
	background-color: #f6f6f6;
	border-color: #dddddd;
	color: #333333;
	text-shadow: 0 1px 0 #f3f3f3;
	-webkit-border-radius: .3125em;
	border-radius: .3125em;
}
