.qclogin {
	background: #0073bc;
}

.qcloginform {
	width: 300px;
	margin: 60px auto 0 auto;
} 	

p>strong {
	color: #0073bc;
	font-size: .8em;
	padding: 0;
	margin: 0;
}


.ui-bar-b {
	background: #f8f8f8;
}

.ui-bar-b p {
	font-size: .9em;
	font-weight: normal;
	margin: 0;
	padding: 0;
}


div.ui-bar label {
	padding-top: 20px;
}

div.ui-bar img {
	width: 100%
}

/*keyboard*/ 

div.qckeys .ui-btn {
	margin: 2px;
	padding: 15px;
	font-size: 1em;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #0073bc;
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,.13);
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.13);
	box-shadow: 1px 1px 1px rgba(0,0,0,.13);
}


div.qckeyscontainer .ui-bar {
	background: #ccc;
	padding: 1px;
}

#keyboard123-popup {
	width: 97% !important;
	top: 60% !important;
}

canvas {
 display: block;
}

ul.sigNav {
 list-style: none;
 padding: 0;
 margin: 0;
}

.sigPad {
  margin: 0;
  padding: 0;
  width: 230px; /* Change the width */
}

.sigWrapper {
  clear: both;
  height: 55; /* Change the height */

  border: 1px solid #ccc;
}

.div-factory .ui-radio .ui-btn.ui-radio-on:after, .div-factory .ui-radio .ui-btn.ui-radio-off:after {
 margin-left: 20px;
}

div.ui-grid-c a.show-keyboard {
	width: 75%;
}

label.meas-item {
 margin-left: 20px;
}

ul.qcorange li:first-child {
	background-color: #f7941d !important;
	border: 1px solid #e6830e !important;
	border-bottom: none !important;
}

ul.qcorange li a {
	background-color: #ffdaaf !important;
	border: 1px solid #ffc178 !important;
}

ul.qcblue li:first-child {
	background-color: #0071bc !important;
	border: 1px solid #015a96 !important;
	border-bottom: none !important;
}

ul.qcblue li a {
	background-color: #c8e9ff !important;
	border: 1px solid #9ad6fe !important;
}

ul.qcgreen li:first-child {
	background-color: #39b54a !important;
	border: 1px solid #25a336 !important;
	border-bottom: none !important;
}

ul.qcgreen li a {
	background-color: #caffd1 !important;
	border: 1px solid #97f1a4 !important;
}

.defect_points.ui-input-text {
 height: 35px;
 padding: 0;
}

.defect_points input[type="text"], textarea {
 position: relative;
 top: 0;
 left: 0px;
}

.defect_points input[type="number"], textarea {
 position: relative;
 top: 0;
 left: 0px;
}

.defect_points.ui-radio .ui-btn.ui-radio-on label:first-child, .div-factory .ui-radio .ui-btn.ui-radio-off label:first-child {
 margin-left: 10px;
  margin-top: 25px;
 padding: 0;
}

<!-- css -->
.onlineindicator {
	margin:4px;
	color:green;
}
.offlineindicator {
	margin:4px;
	color:red;
}

.qcmenubtn {
	width:100px;
}

.fixed {
    position: fixed;
    top:0; left:0;
    width: 100%; 
}

.qclogin {
	background: #0073bc;
}

.qcloginform {
	width: 300px;
	margin: 60px auto 0 auto;
}

.qclbl {
	font-weight: bold;
	color: #0073bc;
}


.ui-btn  {
	background: #0071bc;
	color: white;
	text-shadow:none;
}

.qcboxes a {
	color:#fff !important;
	text-decoration: none;
	font-size: .9em;
}


p>strong {
	color: #0073bc;
	font-size: .8em;
	padding: 0;
	margin: 0;
}

.ui-bar-b {
	background: #f8f8f8;
}

.ui-bar-b p {
	font-size: .9em;
	font-weight: normal;
	margin: 0;
	padding: 0;
}


a.qcboxes {
 display: block;
 height: 300px;
 width: 180px;
 text-decoration: none;
}

.qcboxes {
	height: 330px;
	width: 210px;
	margin:15px;
	background: #fff;
	border: 1px solid #ccc;
	color: #f8f8f8;
	text-shadow: 0 1px 0 #00538a;
	float:left;
	text-align: center;
}

.qcboxes h4, .qcboxes h3, .qcboxes p {
	margin: 0;
	padding: 0;
	text-shadow:none;
}

.qcboxes h4 {
	font-size: 1em;
	padding-top: 10px;
}

.qcboxes p {
	font-size: 1em;
	font-weight: normal;
	color: #333;
	text-shadow: none;
}

.qcboxes h1.gray {
	color: #959595;
	text-shadow: none;
	font-size: 2.5em;
	margin: 50px 0 0 0;
}

.qcboxes h2.gray {
	color: #959595;
	text-shadow: none;
	font-size: 2em;
	margin-top: 20px;
}

.qcboxes p.gray {
color: #333;
font-weight: bold;
font-size: .9em;
margin-top: 10px;
}

.qcboxes p.blue {
color: #0073bc;
}

.qcboxes h3 {
	font-size:.9em; 
	padding-bottom: 10px;
}

.qcsubmitted h4, .qcsubmitted h3 {
	background:#39b54a;
}

.qcsending h4, .qcsending h3 {
	background:#f7941d;
}


.qcinprogress h4, .qcinprogress h3 {
	background:#ed1c24;
}

.qcsigned h4, .qcsigned h3 {
	background:#f7941d;
}

.qcnew h4, .qcnew h3 {
	background:#959595;
}
.qcboxes p.blue {
color: #0073bc;
font-size: .8em;
}
.appstatus {
	font-size: 8px;
	color: #555;
	text-align: center;
	display: block;
	white-space: nowrap;
}

/*labels*/
.ui-grid-a label, .ui-grid-b label, .ui-grid-c label, .ui-grid-a legend, .ui-grid-b legend, .ui-grid-c legend, .ui-mobile label {
	font-weight: bold;
	color: #0073bc;
}

.ui-bar h4 span ,.ui-bar h3 span {
	font-weight: bold;
	color: #0000C5;
}

.canvasContainer {
	position:relative;
	border: 2px solid #888888;
	background-color: #EEEEEE;
	width:100%;	
  	height: 200px;
}

.signature {
  height: 200px;
  width: 100%;
}
hr.light {
	border-top-style: none;
	border-color: #cccccc; 
}

a.totalimages {
	padding: 5px;
	border: 1px solid #ccc; 
}

p span .ui-btn {
	margin: 0 0 0 20px;
	padding: 0;
}

.fcafter:after{
	top:60px;
}

table.qcview {
    color: #333;
    background: #fff;
    padding: 0;
    margin-top:20px;
    width: 100%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
}
table.qcview tr td {
	border: none;
}
    
table.qcview tbody tr td:nth-child(odd) {
    background: #e5f1f8;
    padding: 10px 10px 10px 10px;
    border: none;
}

table.qcview tbody tr td:nth-child(even) {
    background: #f2f2f2;
    padding: 10px 10px 10px 10px;
    border: none;
}
         
table.qcview tr td:last-child {
    border-right: none;
}

table.qcview tr:last-child td:first-child {
    border-bottom: none;
    border-bottom-left-radius: 5px;
}

table.qcview tr:last-child td:last-child {
    border-bottom: none;
    border-bottom-right-radius: 5px;
}

table.qcview tr:last-child td {
    border-bottom: none;
}

table.qcview thead tr td {
	padding-top: 10px;
	padding-left: 10px;
}

table.qcview img {
	width: 100%;
}
table.qcview tr td.first {
	background: #ccc !important;
}

table.qcview tr td.second {
	background: #fffddd !important;
}